body{
    font-family: 'Roboto', sans-serif;
}
.brand-logo{
    width:300px;   
}

.banner-title{
    font-size: 80px;
    font-weight: 700;
}

.text-green{
    color: #76C27E;
}
.banner img{
    width:100%;
}
.backpack-card{
    border:none;
}
.contact-card-img{
    width: 140px;
}